/* You can add global styles to this file, and also import other style files */

/* Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap");

/* Reset */
html,
body,
main,
nav,
a,
h1,
h2,
table,
th,
tr,
td,
button {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  background-color: #f6f3f3;
}

.layout {
  display: flex;
}

nav {
  background-color: #edecf1;
  height: 100vh;
  box-shadow: 8px 0 8px -4px #89888b;
  display: flex;
  flex-direction: column;
  width: 16rem;
  padding-top: 2rem;
}

nav a {
  display: block;
  padding: 1rem 4rem 1rem 1rem;
  text-decoration: none;
}

nav a:hover {
  background-color: #c8d4ef;
}

nav a:visited {
  color: #424e63;
}

main {
  min-height: 90vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 1rem 2rem;
}

main > * {
  width: 100%;
  max-width: 900px;
}

main form,
main table {
  margin: 0 auto;
}

main h1,
main h2,
main p {
  text-align: center;
}

h1 {
  font-family: "Baloo Da 2", "Arial", "sans-serif";
  font-size: 2.2rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 1.5rem;
}

h2 {
  font-family: "Baloo Da 2", "Arial", "sans-serif";
  font-size: 1.7rem;
  font-weight: 400;
  color: #000;
}

h3,
label,
nav a {
  font-family: "Baloo Da 2", "Arial", "sans-serif";
  font-size: 1.3rem;
  font-weight: 400;
}

p,
a,
tr,
button,
input,
select,
footer {
  font-family: "Baloo Da 2", "Arial", "sans-serif";
  font-size: 1rem;
  font-weight: 400;
  color: #000;
}

input,
select {
  border-radius: 10px;
  border: 1px solid #192a53;
  padding: 0.3rem 0.8rem;
}

table {
  border: 1px solid #192a53;
  border-collapse: collapse;
}

th {
  font-family: "Baloo Da 2", "Arial", "sans-serif";
  font-size: 1.3rem;
  font-weight: 500;
  color: #000;
  text-align: center;
  padding: 1rem;
  border: 1px solid #192a53;
}

td {
  text-align: center;
  padding: 0.5rem;
  border: 1px solid #192a53;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

button[type="submit"] {
  background-color: #b9c9ed;
  cursor: pointer;
  padding: 0.3rem 0.8rem;
  border: 1px solid #192a53;
  border-radius: 10px;
  margin-top: 2rem;
}

button[type="submit"]:hover {
  background-color: #798dbd;
}

button:not([type="submit"]) {
  background-color: #dde5cb;
  cursor: pointer;
  padding: 0.2rem 0.8rem;
  border: 1px solid #354612;
  border-radius: 10px;
  margin-top: 2rem;
}

button:not([type="submit"]):hover {
  background-color: #8eaa4c;
}

.error-msg {
  color: #f11212;
}

.success-msg {
  color: #1d9e4f;
}

footer {
  padding: 1rem 0;
  text-align: center;
  height: 10vh;
  background-color: #edecf1;
}
