/*
  Author: Amanda Ruff
  Week 6 - Sprint 1
  File: create-expense.component.css
  Description: Basic styling for the Create Expense form.
*/

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
}

.success {
  color: green;
}

.error {
  color: red;
}
